<!DOCTYPE html>
<html>
  <head>
    <title> MagicTax Report {{date}} </title>
    
    <style>
      {{style}}
    </style>
  </head>
  <body>
    
    <h1> MagicTax Report </h1>

    <h2> {{date}} </h2>
    
    <table>

      <tr>
        <th> Item Name </th>
        <th> Income </th>
        <th> Expense </th>
      </tr>

      {{#each table}}
      <tr>
        <td>
            {{#if this.name}}
            {{this.name}}
            {{else}}
            <span class="empty"></span>
            {{/if}}
        </td>
        <td>
            {{#if this.income}}
            ${{this.income}}
            {{else}}
            <span class="empty"></span>
            {{/if}}
        </td>
        <td>
            {{#if this.expense}}
            ${{this.expense}}
            {{else}}
            <span class="empty"></span>
            {{/if}}
        </td>
      </tr>
      {{/each}}

    </table>

    <h2> Total Income: ${{total}} </h2>
    
  </body>
</html>

